* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Jacquard 12", Arial, Helvetica, sans-serif;
}


body {
  background: #1c1b29; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor tamagotchi */
.tamagotchi {
  background: #e0dff7;
  padding: 30px;
  border-radius: 20px;
  border: 6px solid #47457a;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/* Pantalla */
.screen {
  background: #b8b7e5;
  border: 5px solid #4a467f;
  width: 280px;
  padding: 20px;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Corazones */
.hearts {
  display: flex;
  gap: 5px;
}

.heart {
  width: 28px;
}

/* Mascota */
.pet img {
  width: 150px;
}

/* Comida */
.foods {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.foods img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.food-btn {
  background: #4a467f;
  border: 3px solid #2e2b52;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.1s;
}

.food-btn:hover {
  transform: scale(1.1);
}

.food-btn img {
  width: 45px;
  height: 45px;
}

@media (min-width: 480px) {
  .screen {
    width: 300px;
    padding: 22px;
  }

  .pet img {
    width: 160px;
  }

  .foods img {
    width: 70px;
    height: 70px;
  }

  .food-btn img {
    width: 55px;
    height: 55px;
  }
}


@media (min-width: 768px) {
  .tamagotchi {
    padding: 40px;
  }

  .screen {
    width: 360px;
    padding: 26px;
  }

  .pet img {
    width: 190px;
  }

  .foods {
    gap: 20px;
  }

  .foods img {
    width: 85px;
    height: 85px;
  }

  .food-btn img {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 1024px) {
  .screen {
    width: 420px;
    padding: 30px;
  }

  .pet img {
    width: 220px;
  }

  .foods img {
    width: 95px;
    height: 95px;
  }

  .food-btn img {
    width: 75px;
    height: 75px;
  }
}


@media (min-width: 1280px) {
  .tamagotchi {
    padding: 55px;
  }

  .screen {
    width: 480px;
  }

  .pet img {
    width: 260px;
  }

  .foods img{
    width: 110px;
    height: 110px;
  }

  .food-btn img {
    width: 85px;
    height: 85px;
  }
}


@media (min-width: 1440px) {
  .screen {
    width: 520px;
  }

  .pet img {
    width: 290px;
  }

  .foods img {
    width: 120px;
    height: 120px;
  }

  .food-btn img {
    width: 100px;
    height: 100px;
  }
}
