// VARIABLES
$bg-dark: black;
$violet-light: #e0dff7;
$violet: #4a467f;
$violet-dark: #2e2b52;

$pixel-font: "Pixelify Sans", sans-serif;
$main-font: "Jacquard 12", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  background: $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}

.tamagotchi {
  background: $violet-light;
  padding: 3rem;
  border-radius: 2rem;
  border: 6px solid #47457a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  max-width: 34rem;
  width: 100%;

  &__start-button {
    font-family: $pixel-font;
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #524d8a;
    color: #fff;
    border: 0;
    padding: 1rem 1.4rem;
    cursor: pointer;
    image-rendering: pixelated;

    box-shadow: 0 0 0 4px $violet-dark, 0 4px 0 4px #1b1934;

    &:active {
      transform: translateY(2px);
      box-shadow: 0 0 0 4px $violet-dark, 0 2px 0 4px #1b1934;
    }
  }
  &__pause-button {
  font-family: $pixel-font;
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #524d8a;
  color: #fff;
  border: 0;
  padding: 1rem 1.4rem;
  cursor: pointer;
  image-rendering: pixelated;

  box-shadow: 0 0 0 4px $violet-dark, 0 4px 0 4px #1b1934;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 4px $violet-dark, 0 2px 0 4px #1b1934;
  }
}

  &__screen {
    background: #b8b7e5;
    border: 5px solid $violet;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__hearts {
    display: flex;
    gap: 0.5rem;
  }

  &__heart {
    width: 28px;
    height: 28px;
    background-image: url("/images/Full-heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s, transform 0.3s;
  }
  .heart--full {
    background-image: url("/images/Full-heart.png");
  }

  .heart--half {
    background-image: url("/images/Half-heart.png");
  }

  .heart--empty {
    background-image: url("/images/Empty-heart.png");
  }

  &__pet {
    width: 15rem;
    height: 15rem;
  }

  &__pet-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/Happy-bat.gif");
  }
  .bat--normal {
    background-image: url("/images/Happy-bat.gif");
  }
  .bat--sad {
    background-image: url("/images/Sad-bat.gif");
  }

  .bat--hungry {
    background-image: url("/images/Hungry-bat.gif");
  }

  .bat--dead {
    background-image: url("/images/Dead-bat.gif");
  }

  .bat--eating {
    background-image: url("/images/Eating-bat.gif");
    animation: eat 1.69s linear;
  }

  .bat--love {
    background-image: url("/images/Love-this-food.gif");
  }

  .bat--no {
    background-image: url("/images/No-bat.gif");
  }
  .bat--paused {
    background-image: url("/images/Sleeping-bat.gif");
  }

  &__food-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .garlic {
    background-image: url("/images/Garlic.png");
  }

  .melon {
    background-image: url("/images/Melon.png");
  }

  .moth {
    background-image: url("/images/Moth.png");
  }

  &__foods {
    display: flex;
    gap: 1.5rem;
  }

  &__food-button {
    width: 64px;
    height: 64px;
    background: $violet;
    border: 3px solid $violet-dark;
    border-radius: 0.8rem;
    padding: 0.6rem;
    cursor: pointer;
    transition: transform 0.1s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.intro {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateZ(0);

  animation: intro-slide-down 1.2s ease-out forwards;

  &__content {
    margin-top: 4rem;
    background: $bg-dark;
    color: $violet-light;
    border: 5px solid $violet;
    border-radius: 1.6rem;
    padding: 2rem;
    width: 90%;
    max-width: 32rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    text-align: center;
  }

  &__image {
    width: 100%;
    max-width: 28rem;
    aspect-ratio: 16 / 9;
    background-image: url("/images/Landing.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }

  &__title {
    font-size: 3rem;
  }

  &__text {
    font-family: $pixel-font;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  &__button {
    font-family: $pixel-font;
    padding: 1rem 1.6rem;
    background: $violet;
    color: white;
    border: 3px solid $violet-dark;
    cursor: pointer;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .tamagotchi {
    padding: 3rem;
    border-width: 0.6rem;
    max-width: 40rem;

    &__screen {
      max-width: 40rem;
    }

    &__pet {
      width: 18rem;
      height: 18rem;
    }
    &__heart {
      width: 3.4rem;
      height: 3.4rem;
    }

    &__foods {
      gap: 2rem;
    }

    &__food-button {
      width: 7rem;
      height: 7rem;
    }
    &__start-button {
      font-size: 1.4rem;
      padding: 0.8rem 1.2rem;
    }
     &__pause-button {
      font-size: 1.4rem;
      padding: 0.8rem 1.2rem;
    }
  }

  .intro {
    align-items: flex-start;

    &__content {
      margin-top: 4rem;
      padding: 3rem 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      max-width: 80rem;
      gap: 2rem;
    }

    &__image {
      flex-shrink: 0;
      width: 45%;
      max-width: 45rem;
      min-width: 24rem;
      min-height: 24rem;
      aspect-ratio: 16 / 9;
      flex-basis: 50%;
      display: block;
    }
    &__title {
      font-size: 3.6rem;
    }
    &__text {
      flex: 1;
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1024px) {
  .tamagotchi {
    padding: 3rem;
    max-width: 46rem;
    &__screen {
      max-width: 46rem;
    }

    &__pet {
      width: 20rem;
      height: 20rem;
    }
    &__heart {
      width: 4rem;
      height: 4rem;
    }

    &__food-button {
      width: 8rem;
      height: 8rem;
    }
    &__start-button {
      font-size: 1.6rem;
      padding: 1rem 1.4rem;
    }
     &__pause-button {
      font-size: 1.6rem;
      padding: 1rem 1.4rem;
    }
  }
  .intro {
    &__content {
      max-width: 90rem;
      padding: 4rem 6rem;
    }

    &__image {
      width: 50%;
      max-width: 48rem;
      height: 32rem;
    }
  }
}

@media (min-width: 1440px) {
  .tamagotchi {
    padding: 3rem;
    max-width: 55rem;
    &__screen {
      max-width: 55rem;
    }

    &__pet {
      width: 22rem;
      height: 22rem;
    }
    &__heart {
      width: 4.8rem;
      height: 4.8rem;
    }

    &__food-button {
      width: 10rem;
      height: 10rem;
    }
    &__start-button {
      font-size: 1.8rem;
      padding: 1.2rem 1.6rem;
    }
     &__pause-button {
      font-size: 1.8rem;
      padding: 1.2rem 1.6rem;
    }
  }
  .intro {
    &__content {
      max-width: 110rem;
      padding: 5rem 8rem;
    }
    &__image {
      width: 55%;
      max-width: 56rem;
      height: 36rem;
    }

    &__title {
      font-size: 4.2rem;
    }

    &__text {
      font-size: 2rem;
      max-width: 50ch;
    }
  }
}

// Animaciones
@keyframes intro-slide-down {
  from {
    transform: translateY(-100dvh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes intro-slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100dvh);
  }
}
@keyframes dummy {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes eat {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.bat--love,
.bat--no {
  animation: dummy 2s linear;
}

/*Animación para cuando un corazón cambia de estado */

.heart--anim {
  opacity: 0;
  transform: scale(0.5);
}
.intro--closing {
  animation: intro-slide-up 2s ease-in forwards;
}
